[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "1.38.36"

[dev-packages]
flake8 = "7.3.0"
pytest = "8.4.1"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
