[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "1.37.13"

[dev-packages]
flake8 = "7.1.2"
pytest = "8.3.5"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
